<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add Category</title>
  </head>
  <body>
    <h1>Add Category</h1>
    <form method="POST" action="/admin/add-category">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <button type="submit">Add Category</button>
    </form>
  </body>
</html>
