<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICT Equipment Loan System</title>
    <style>
        #yearsection1{
            display: none;
        }
    </style>
    <script>
        function showfield()
        {
            document.getElementById('yearsection').style.display = "block";
            return;
        }
        function showfield1()
        {
            document.getElementById('yearsection').style.display = "none";
            document.getElementById('yearsection1').style.display="block";
    
            return;
        }
    </script>
</head>

<body>
    <h1>Add New User</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Name" id="" required>
        <br><br>
        <input type="text" name="userid" placeholder="User_ID" id="" required>
        <br><br>
        <input type="email" name="email" placeholder="Email" id="" required>
        <br><br>
        <input type="text" name="mno" placeholder="MobileNumber" id="" required>
        <br><br>
        <label>User Type</label>
        <br><br>
        <input type="radio" name="usertype" value="user" id="">
        <label>User</label>
        <input type="radio" name="usertype" value="approval" id="">
        <label>Approval</label>
        <input type="radio" name="usertype" value="admin" id="">
        <label>Admin</label>
        <br><br>

        <label>Staff/Student</label>
        <br><br>
        <input type="radio" name="studentorstaff" value="student" id="" onclick="showfield()"  checked>Student
        <input type="radio" name="studentorstaff" value="staff" onclick="showfield1()" id="">Staff
        <br><br>
        <div id="yearsection">
        <select name="year">
            <option  value="0" selected>Year</option>
            <option  value="1" >Year I</option>
            <option  value="2">Year II</option>
            <option  value="3">Year III</option>
            <option  value="4">Year IV</option>
            <input type="hidden" name="year_input" id="year_input">

        </select>

        </div>
        <br><br>

        <div id="yearsection1">
       
        </div>
        <p>Department</p>
        <div id="depart"> 
            <select name="department" >
                <option value="BScIT" selected>BScIT</option>
                <option value="SIDD">SIDD</option>
                <option value="Blockchain">Blockchain</option>
                <option value="Fullstack">Fullstack</option>
                <option value="SOC">SOC</option>
                <option value="BScCS">BScCS</option>
                <option value="AI&DS">AI&DS</option>
                <option value="ICT">ICT</option>
                <input type="hidden" name="department_input" id="department_input">
            </select>
            <br><br> 
        </div>


        <input type="file" name="image" id="" required>
        <br><br>
        <input type="submit" value="Register">
    </form>

    <%
        if(typeof message !== 'undefined'){
            %>
            <p style="color: red;"><%= message %></p>
            <%
        }
    %>
    
<a href="/admin/adminhome">Go Back</a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Add User</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand ">
            <!-- Navbar Brand-->
            <img src="/assets/img/logo.png" alt="" class="img-fluid" style="width: 45px;">
            <a class="navbar-brand ps-3" href="/admin/adminhome" style="color:white">ICT-ELS</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div> -->
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" style="color: white;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">                    
                      <img src="/userImages/<%= admin.image%>" style="width:40px;height: 40px; border-radius:50%;" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/admin/adminprofile">Profile</a></li>
                        <!-- <li><a class="dropdown-item" href="#!">Change Password</a></li> -->
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion " id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/admin/adminhome">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            User
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" href="#">Add User</a>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">

                                    View User
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/admin/viewstudent">Student</a>
                                        <a class="nav-link" href="/admin/viewstaff">Staff</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Equipment
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="addequip.html" >
                                        Add Equipment
                                    </a>
                                    
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Delete/Update Equipment
                                    </a>
                                    
                                </nav>
                            </div>
                            <a class="nav-link" href="category.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Category
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Loan
                            </a>
                        </div>
                    </div>
                 
                </nav>
            </div>
            <div id="layoutSidenav_content">
                    <div class="mx-auto col-10 col-md-8 shadow p-3 col-lg-6 mb-5 bg-body rounded mt-3">
                      <form  action="/admin/new-user" id="myForm" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                          <h4 class="modal-title">Add Users</h4>
                        </div>
                        <div class="modal-body">
                          
                            <div class="form-group">
                              <label>Name</label>
                              <input type="text" name="name" class="form-control" required>
                            </div>
                            
                          <div class="form-group mt-2">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                          </div>
                          <div class="form-group mt-2">
                            <label>User ID</label>
                            <input type="number" name="userid" class="form-control" required>
                          </div>
                          <div class="form-group mt-2">
                            <label>Phone Number</label>
                            <input type="text" name="mno" class="form-control" required>
                          </div>
            
                          <div class="mt-2">
                            <label>User Type</label>
                          </div>
                          <div class=" form-check form-check-inline mt-2">
                            <input type="radio" class="form-check-input" name="usertype" value="user" required
                              >User
                            <label class="form-check-label" for="radio1"></label>
                            
                          </div>
                           <div class=" form-check form-check-inline mt-2">
                            <input type="radio" class="form-check-input" name="usertype" value="admin" required
                              >Admin
                            <label class="form-check-label" for="radio1"></label>
                            
                          </div>
                          <div class=" form-check form-check-inline mt-2">
                            <input type="radio" class="form-check-input" name="usertype" value="approval" required
                              >Approval
                            <label class="form-check-label" for="radio1"></label>
                            
                          </div>
                          <div class="mt-2">
                            <label for="">Student/Staff</label>
                          </div>
                          <div class="form-check form-check-inline mt-2">
            
                            <input type="radio" class="form-check-input" id="radio1" name="studentorstaff" value="student" required
                              onclick="showDropdown('student')">Student
                            <label class="form-check-label" for="radio1"></label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="radio2" name="studentorstaff" value="staff" required
                            onclick="showDropdown('tutor')">Staff
                            <label class="form-check-label" for="radio2"></label>
                          </div>
                          <div id="radioGroup">
            
            
            
                            <div class="row" id="student" style="display: none;">
            
            
            
                        
        
                              <div class="mt-2">
                                <select class="form-control" name="year" aria-label="Default select example">
                                  <option value="0" selected>Select Year</option>
                                  <option value="1">1st Year</option>
                                  <option value="2">2nd Year</option>
                                  <option value="3">3rd Year</option>
                                  <option value="3">4th Year</option>
                                </select>
                              </div>
                            </div>
            
                           
            
                          </div>
                          <div class="mt-2">
                            <label for="">Department</label>
                            <div class="row" >
                              <div>
                                <select  class="form-control" name="department" aria-label="Default select example">
                                  <option value="null" selected>Select Department</option>
                                  <option value="BScIT">BScIT</option>
                                  <option value="SIDD">SIDD</option>
                                  <option value="Blockchain">Blockchain</option>
                                  <option value="Fullstack">Fullstack</option>
                                  <option value="SOC">SOC</option>
                                  <option value="BScCS">BScCS</option>
                                  <option value="UIUX">UX$UI</option>
                                  <option value="AI&DS">AI&DS</option>
                                  <option value="NONITMODULES">NON-IT MODULES</option>
                                  <option value="TECHNO">TECHNOSTARTUP</option>
                                  <option value="ICT">ICT</option>
                                </select>
                              </div>
            
                            </div>
                          </div>
                          <!-- <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2"
                             >Approval
                            <label class="form-check-label" for="radio2"></label>
                          </div> -->
            
            
                          
            
                          <div class="form-group mt-2">
                            <label class="form-label" for="customFile">Upload Profile</label>
                            <input type="file" name="image" class="form-control" id="fileInput" />
                          </div>
                        </div>
            
                        <div class="modal-footer mt-2">
                          <input type="submit" class="btn btn-success " value="Add">
                          <input type="button" class="btn btn-secondary m-2" data-dismiss="modal" value="Cancel">
                        </div>
                        <%
                     if(typeof message !== 'undefined'){
                         %>
                            <p style="color: red;"><%= message %></p>
                         <%
                     }
                %>
                      </form>
                    </div>
                </div>
                
                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                
                <script src="/js/jquery-3.3.1.slim.min.js"></script>
                <script src="/js/popper.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
            
            
                <script type="text/javascript">
            
                  $(document).ready(function () {
                    $(".xp-menubar").on('click', function () {
                      $('#sidebar').toggleClass('active');
                      $('#content').toggleClass('active');
                    });
            
                    $(".xp-menubar,.body-overlay").on('click', function () {
                      $('#sidebar,.body-overlay').toggleClass('show-nav');
                    });
            
                  });
            
                
                  //Radio button dropdown
                  function showDropdown(dropdownId) {
                    var student = document.getElementById("student");
                    // var tutor = document.getElementById("tutor");
            
                    if (dropdownId === "student") {
                      student.style.display = "block";
                      // tutor.style.display = "none";
                    } else if (dropdownId === "tutor") {
                      student.style.display = "none";
                      // tutor.style.display = "block";
                    }
                  }
                  const form = document.getElementById('myForm');
                  const fileInput = document.getElementById('fileInput');
            
                  form.addEventListener('submit', function (event) {
                    if (!validateFileExtension()) {
                      event.preventDefault();
                    }
                  });
            
                  function validateFileExtension() {
                    const allowedExtensions = ['jpg', 'jpeg', 'png', 'gif'];
                    const fileName = fileInput.value;
                    const fileExtension = fileName.split('.').pop().toLowerCase();
                    if (!allowedExtensions.includes(fileExtension)) {
                      alert('Please select a file with a valid extension (JPG, JPEG, PNG, GIF).');
                      return false;
                    }
                    return true;
                  }
            
            
                  // const f = document.getElementById('myForm');
                  // const dropdown = document.getElementById('radioGroup');
            
                  // f.addEventListener('submit', function (event) {
                  //   if (!validateRadioButtons()) {
                  //     event.preventDefault();
                  //   }
                  // });
            
                  // function validateRadioButtons() {
                  //   const options = dropdown.querySelectorAll('input[type="radio"]');
                  //   for (let i = 0; i < options.length; i++) {
                  //     if (options[i].checked) {
                  //       return true;
                  //     }
                  //   }
                  //   alert('Please select an option.');
                  //   return false;
                  // }
            
                </script>
                <!-- <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Static Navigation</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Static Navigation</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p class="mb-0">
                                    This page is an example of using static navigation. By removing the
                                    <code>.sb-nav-fixed</code>
                                    class from the
                                    <code>body</code>
                                    , the top navigation and side navigation will become static on scroll. Scroll down this page to see an example.
                                </p>
                            </div>
                        </div>
                        <div style="height: 100vh"></div>
                        <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div> -->
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>

