<!-- <h1>Categories</h1>

<form method="GET" action="/admin/categories">
  <div class="form-group">
    <input type="text" class="form-control" name="q" placeholder="Search categories" value="<%= searchQuery %>">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<% if (categories.length > 0) { %>
  <ul>
    <% categories.forEach(category => { %>
      <li>
        <a href="/admin/edit-category/<%= category._id %>"><%= category.name %></a>
        <form action="/admin/categories/<%= category._id %>" method="post" style="display: inline-block;">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete <%= category.name %> category?')">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>No categories found.</p>
<% } %>

<a href="/admin/add-category" class="btn btn-primary btn-sm">Add Category</a> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Category</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand ">
        <!-- Navbar Brand-->
        <img src="/assets/img/logo.png" alt="" class="img-fluid" style="width: 45px;">

        <a class="navbar-brand ps-3" href="/admin/adminhome" style="color: white;">ICT-ELS</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!-- <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button>
            </div> -->
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" style="color: white;" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false"> <img src="/userImages/<%= admin.image%>"
                        style="width:40px; height: 40px; border-radius:50%;" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/admin/adminprofile">Profile</a></li>
                    <!-- <li><a class="dropdown-item" href="#!">Change Password</a></li> -->
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion " id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/admin/adminhome">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                            data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            User
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>

                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link" href="/admin/new-user">Add User</a>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                    data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                    aria-controls="pagesCollapseAuth">

                                    View User
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                    data-bs-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="/admin/viewstudent">Student</a>
                                        <a class="nav-link" href="/admin/viewstaff">Staff</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                            aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Equipment
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                            data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                <a class="nav-link collapsed" href="addequip.html">
                                    Add Equipment
                                </a>

                                <a class="nav-link collapsed" href="#">
                                    Remove/Update Equipment
                                </a>

                            </nav>
                        </div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Category
                        </a>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Loan
                        </a>
                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">

            <!-- <main>
                <div>
                    <form id="myForm" class="container-fluid px-4" method="post" action="/admin/add-category">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Category</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="col">
                                    <label name="name">Category Name</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                            </div>
                            <div class="modal-footer mt-2">
                                <input type="button" class="btn btn-secondary m-2" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success " value="Add">
                            </div>
                    </form>
                    <div>
                        <hr>
                        <div class="card mt-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Manage Category

                            </div>

                            <div class="card-body">
                                <table id="datatablesSimple" class="table table-striped table-hover">
                                    <thead>
                                        <tr>

                                            <th>Category Name</th>

                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Category Name</th>

                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% categories.forEach(category=> { %>

                                            <tr>
                                                <td>
                                                    <%= category.name %>
                                                </td>
                                                <td><a href="/admin/edit-category/<%= category.id %>" class="edit">
                                                        <i class="material-icons" data-toggle="tooltip"
                                                            style="color: black;" title="Edit">&#xE254;</i></a>
                                                            <form action="/admin/categories/<%= category._id %>" method="post" style="display: inline-block;">
                                                                <input type="hidden" name="_method" value="delete">                                                                
                                                                <button type="submit" style="border: none;" onclick="return confirm('Are you sure you want to delete <%= category.name %> category?')">
                                                                    <i class="material-icons" data-toggle="tooltip" style="color: rgb(0, 0, 0); cursor: pointer;" >&#xE872;</i>
                                                                    </button>
                                                              </form>
                                                              
                                                </td>

                                            </tr> -->




            <!-- Modal -->
            <!-- <div class="modal fade" id="deleteEmployeeModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <form action="/admin/categories/<%= category.id %>"
                                                                method="post">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Delete Category
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">

                                                                    Are you sure you want to delete this <%=
                                                                        category.name %> category?

                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-bs-dismiss="modal">No</button>
                                                                            <button type="submit"
                                                                                class="btn btn-success">Yes</button>
                                                                        </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                            </div> -->
            <!-- Edit Modal HTML -->
            <!-- <div id="editEmployeeModal" class="modal fade">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Update Category</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                                    <form method="POST" action="/admin/edit-category/<%= category._id %>">
                                                                        <div class="row mx-auto mb-3">
                                                                            <input type="text" id="name" name="name" class="form-control" value="<%= category.name %>" required>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                            <button type="submit" style="color: white;" class="btn btn-info">Save</button>
                                                                        </div>
                                                                    </form>                                                                
                                                        </div>
                                                    </div>

                                                </div>
                                                <% }); %>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
            </main> -->
            <main>
                <div>
                    <form id="myForm" class="container-fluid px-4" method="post" action="/admin/add-category">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Category</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <div class="col">
                                    <label for="name">Category Name</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer mt-2">
                            <input type="button" class="btn btn-secondary m-2" data-dismiss="modal" value="Cancel"
                                onclick="clearCategoryInput()">
                            <input type="submit" class="btn btn-success " value="Add" onclick="validateForm()">
                        </div>
                    </form>
                    <div>
                        <hr>
                        <div class="card mt-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Manage Category
                            </div>

                            <div class="card-body">
                                <table id="datatablesSimple" class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Category Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Category Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% categories.forEach(category=> { %>
                                            <tr>
                                                <td>
                                                    <%= category.name %>
                                                </td>
                                                <td class="display: inline-block;"><a href="/admin/edit-category/<%= category.id %>" class="edit">
                                                        <i class="material-icons" data-toggle="tooltip"
                                                            style="color: black;" title="Edit">&#xE254;</i></a>
                                                    <form action="/admin/categories/<%= category._id %>" method="post"
                                                        style="display: inline-block;">
                                                        <input type="hidden" name="_method" value="delete">
                                                        <button type="submit" style="border: none;"
                                                            onclick="return confirmDelete(event, '<%= category.name %>')">
                                                            <i class="material-icons" data-toggle="tooltip"
                                                                style="color: rgb(0, 0, 0); cursor: pointer; ">&#xE872;</i>
                                                        </button>
                                                    </form>


                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>



            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; ICT-ELS 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>

        function clearCategoryInput() {
            document.getElementById("name").value = "";

        }

        function confirmDelete(event, categoryName) {
            event.preventDefault();
            if (confirm(`Are you sure you want to delete ${categoryName} category?`)) {
                event.target.closest('form').submit();
            }
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="/js/datatables-simple-demo.js"></script>
</body>

</html>