<!-- 
<div class="container">
  <h1>Edit Item</h1>
  <form method="POST" action="/admin/edit-item/<%=item._id %>">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= item.name %>">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" name="category">
        <% categories.forEach(function(category) { %>
          <option value="<%= category._id %>" <% if (category._id.toString() === item.category._id.toString()) { %>selected<% } %>>
            <%= category.name %>
          </option>
        <% }); %>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" name="description" rows="5"><%= item.description %></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" class="form-control" id="image" name="image" value="<%= item.image %>">
    </div>
    <div class="form-group">
      <label for="available_items">Available Items</label>
      <input type="number" class="form-control" id="available_items" name="available_items" value="<%= item.available_items %>">
    </div>
    <button type="submit" class="btn btn-primary">Update Item</button>
  </form>
</div> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Item Detail</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">

  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="sb-topnav navbar navbar-expand ">
    <!-- Navbar Brand-->
    <img src="/assets/img/logo.png" alt="" class="img-fluid" style="width: 45px;">

    <a class="navbar-brand ps-3" href="/admin/adminhome" style="color:white">ICT-ELS</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
        class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <!-- <div class="input-group">
        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
          aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
      </div> -->
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" style="color: white;" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/userImages/<%= admin.image%>" style="width:40px; border-radius:50%;" />

        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/admin/adminprofile">Profile</a></li>
          <!-- <li><a class="dropdown-item" href="#!">Change Password</a></li> -->
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <a class="nav-link" href="/admin/adminhome">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              User
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>

            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link" href="/admin/new-user">Add User</a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth"
                  aria-expanded="false" aria-controls="pagesCollapseAuth">

                  View User
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                  data-bs-parent="#sidenavAccordionPages">
                  <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/admin/viewstudent">Student</a>
                    <a class="nav-link" href="/admin/viewstaff">Staff</a>
                  </nav>
                </div>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
              aria-expanded="false" aria-controls="collapsePages">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Equipment
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link collapsed" href="/admin/additem" data-bs-toggle="collapse"
                  data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                  Add Equipment
                </a>

                <a class="nav-link collapsed" href="/admin/items" data-bs-toggle="collapse"
                  data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                  View Equipment
                </a>

              </nav>
            </div>
            <a class="nav-link" href="/admin/categories">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              Category
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              Loan
            </a>
          </div>
        </div>

      </nav>
    </div>
    <div id="layoutSidenav_content">
      <div class="container-fluid mt-3 mb-4 p-2">
        <div>
          <h2 style="color: #2a3f5a;">Edit Details</h2>
        </div>
        <div class="card">
          <div class="row g-0">
            <div class="col-md-6 border-end">
              <div class="d-flex justify-content-center">
                <div class="image_container"> <img src="/userImages/<%= item.image %>" id="main_product_image" width="500px" height="300px"
                    class="img-fluid mt-4">
                  <div class="image-upload">
                    <label for="file-input">
                      <i class="fas fa-table"></i>
                    </label>

                    <input id="file-input" type="file" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <form action="/admin/edit-item/<%=item._id %>" method="POST">
                <div class="p-3 right-side">
                  <div>
                    <label for="">Name</label>
                    <input type="text" class="form-control" value="<%= item.name %>" required>
                  </div>
                  <div class="row mx-auto mt-3">
                    <select class="form-control p-1" id="category" name="category">
                      <% categories.forEach(function(category) { %>
                        <option value="<%= category._id %>" <% if (category._id.toString() === item.category._id.toString()) { %>selected<% } %>>
                          <%= category.name %>
                        </option>
                      <% }); %>
                    </select>
                  </div>
                  <hr>

                  <div class="mt-2 pr-3 content">
                    <textarea name="description" id="description" class="form-control"
                      rows="3"><%= item.description %></textarea>
                  </div>
                  <hr>
                  <input type="number" class="form-control" min="1"name="available_items" id="available_items" value="<%= item.available_items %>">
                </div>
                <div class="buttons d-flex flex-row  gap-3 p-3">
                  <button type="submit" class="btn btn-primary">Update Item</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="/js/scripts.js"></script>
</body>

</html>