<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget password</title>
</head>
<body>
    <h1>Forget Password</h1>

    <%
        if(typeof message !== 'undefined')
        {
            %>
            <h3><%= message %></h3>
            <%
        }
    %>
    <form action="" method="POST">

        <input type="email" name="email" placeholder="Enter email" required>
        <br><br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>