<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
</head>
<body>
    <h1>Password Reset</h1>

    <%
        if(typeof message !== 'undefined')
        {
            %>
            <h3><%=message%></h3>
            <%
        }
    %>
    <form action="" method="POST">

        <input type="text" name="password" placeholder="Enter password" required>
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <br><br>
        <input type="submit" value="Reset Password">

    </form>
</body>
</html>