<!-- <div class="container">
  <h1>All Items</h1>
  <form method="GET">
    <div class="form-group">
      <label for="search">Search:</label>
      <input type="text" name="search" class="form-control" value="<%= searchQuery %>">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="/admin/additem" class="btn btn-primary">Add Item</a>
  </form>
  <% if (items.length > 0) { %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Image</th>
          <th>Available Items</th>
          <th>Action</th>
          <th>View More</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.category?.name ?? "N/A" %></td>          
            <td><%= item.description %></td>
            <td><%= item.image %></td>
            <td><%= item.available_items %></td>
            <td>
              <a href="/admin/edit-item/<%= item._id %>">Edit</a>
              <form method="POST" action="/admin/item/<%= item._id %>" style="display:inline-block;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn-link" onclick="return confirm('Are you sure you want to delete <%= item.name, item.category%>, item')"> Delete </button>
              </form>
              </td>
              <td>
                <a href="/itemdetails/<%= item._id %>">View Details</a>
              </td>

              </tr>
              <% }) %>
              </tbody>
              </table>
              <% } else { %>
              <p>No items found.</p>
              <% } %>
              </div>
               -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Equipments</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="sb-topnav navbar navbar-expand ">
    <!-- Navbar Brand-->
    <img src="/assets/img/logo.png" alt="" class="img-fluid" style="width: 45px;">

    <a class="navbar-brand ps-3" href="/admin/adminhome" style="color:white">ICT-ELS</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
        class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <!-- <div class="input-group">
        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
          aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
      </div> -->
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" style="color: white;" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/userImages/<%= admin.image%>" style="width:40px; height: 40px; border-radius:50%;" />

        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/admin/adminprofile">Profile</a></li>
          <!-- <li><a class="dropdown-item" href="#!">Change Password</a></li> -->
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <a class="nav-link" href="/admin/adminhome">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              User
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>

            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link" href="/admin/new-user">Add User</a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth"
                  aria-expanded="false" aria-controls="pagesCollapseAuth">

                  View User
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                  data-bs-parent="#sidenavAccordionPages">
                  <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/admin/viewstudent">Student</a>
                    <a class="nav-link" href="/admin/viewstaff">Staff</a>
                  </nav>
                </div>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
              aria-expanded="false" aria-controls="collapsePages">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Equipment
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link collapsed" href="/admin/additem" data-bs-toggle="collapse"
                  data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                  Add Equipment
                </a>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError"
                  aria-expanded="false" aria-controls="pagesCollapseError">
                  View Equipment
                </a>

              </nav>
            </div>
            <a class="nav-link" href="/admin/categories">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              Category
            </a>
            <a class="nav-link" href="#">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              Loan
            </a>
          </div>
        </div>

      </nav>
    </div>
    <div id="layoutSidenav_content" class="p-3">
     

      <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <form class="input-group" method="GET">
          <div class="form-outline">
            <input type="search" name="search" placeholder="Category/Name" class="form-control" value="<%= searchQuery %>">
            <!-- <label for="search">Search:</label> -->
  
          </div>
          <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
        </form>
        <% if (items.length > 0) { %>
        <% items.forEach(item=> { %>
          <div class="col">
            <div class="card">
              <img src="userImages/<%= item.image %>" style="height: 200px;" class="card-img-top" alt="Skyscrapers" />
              <div class="card-body">
                <h5 class="card-title">
                  <%= item.name %>
                </h5>
                <p class="card-text">
                  Available: <%= item.available_items %>
                </p>
                <a href="/admin/itemdetails/<%= item._id %>" class="btn btn-success">View Details</a>
              </div>
            </div>

          </div>
          <% }) %>

      </div>
      <% } else { %>
        <p>No items found.</p>
        <% } %>


    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="/js/scripts.js"></script>
</body>

</html>