<!-- <div class="container">
    <h1><%= item.name %></h1>
    <img src="itemimage/<%= item.image %>"  width="100px" height="100px" alt="<%= item.image %>">
    <p><%= item.description %></p>
    <p>Available Items: <%= item.available_items %></p>
  </div>
    <a href="/admin/edit-item/<%= item._id %>">Edit</a>
    <form method="POST" action="/admin/item/<%= item._id %>" style="display:inline-block;">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn-link" onclick="return confirm('Are you sure you want to delete <%= item.name, item.category%>, item')"> Delete </button>
    </form>
    <td> -->

      <!DOCTYPE html>
      <html lang="en">
      
      <head>
          <meta charset="utf-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
          <meta name="description" content="" />
          <meta name="author" content="" />
          <title>Item Detail</title>
          <link rel="stylesheet" href="/css/styles.css" type="text/css">

          <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
      </head>
      
      <body>
          <nav class="sb-topnav navbar navbar-expand ">
              <!-- Navbar Brand-->
              <img src="/assets/img/logo.png" alt="" class="img-fluid" style="width: 45px;">
      
              <a class="navbar-brand ps-3" href="/admin/adminhome" style="color:white">ICT-ELS</a>
              <!-- Sidebar Toggle-->
              <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                      class="fas fa-bars"></i></button>
              <!-- Navbar Search-->
              <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                  <!-- <div class="input-group">
                      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                          aria-describedby="btnNavbarSearch" />
                      <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                              class="fas fa-search"></i></button>
                  </div> -->
              </form>
              <!-- Navbar-->
              <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" style="color: white;" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="/userImages/<%= admin.image%>" style="width:40px; height: 40px; border-radius:50%;" />
      
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/admin/adminprofile">Profile</a></li>
                          <!-- <li><a class="dropdown-item" href="#!">Change Password</a></li> -->
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
                      </ul>
                  </li>
              </ul>
          </nav>
          <div id="layoutSidenav">
              <div id="layoutSidenav_nav">
                  <nav class="sb-sidenav accordion " id="sidenavAccordion">
                      <div class="sb-sidenav-menu">
                          <div class="nav">
                              <a class="nav-link" href="/admin/adminhome">
                                  <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                  Dashboard
                              </a>
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                  data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                  <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                  User
                                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                              </a>
      
                              <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne"
                                  data-bs-parent="#sidenavAccordion">
                                  <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                      <a class="nav-link" href="/admin/new-user">Add User</a>
                                      <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                                          data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                          aria-controls="pagesCollapseAuth">
      
                                          View User
                                          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                      </a>
                                      <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                                          data-bs-parent="#sidenavAccordionPages">
                                          <nav class="sb-sidenav-menu-nested nav">
                                              <a class="nav-link" href="/admin/viewstudent">Student</a>
                                              <a class="nav-link" href="/admin/viewstaff">Staff</a>
                                          </nav>
                                      </div>
                                  </nav>
                              </div>
                              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
                                  aria-expanded="false" aria-controls="collapsePages">
                                  <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                  Equipment
                                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                              </a>
                              <div class="collapse" id="collapsePages" aria-labelledby="headingTwo"
                                  data-bs-parent="#sidenavAccordion">
                                  <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                      <a class="nav-link collapsed" href="/admin/additem" data-bs-toggle="collapse"
                                          data-bs-target="#pagesCollapseAuth" aria-expanded="false"
                                          aria-controls="pagesCollapseAuth">
                                          Add Equipment
                                      </a>
      
                                      <a class="nav-link collapsed" href="/admin/items" data-bs-toggle="collapse"
                                          data-bs-target="#pagesCollapseError" aria-expanded="false"
                                          aria-controls="pagesCollapseError">
                                          View Equipment
                                      </a>
      
                                  </nav>
                              </div>
                              <a class="nav-link" href="/admin/categories">
                                  <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                  Category
                              </a>
                              <a class="nav-link" href="#">
                                  <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                  Loan
                              </a>
                          </div>
                      </div>
      
                  </nav>
              </div>
              <div id="layoutSidenav_content">
                  <div class="container-fluid mt-3 mb-4 p-2">
                      <div>
                          <h2 style="color: #2a3f5a;">Equipment Details</h2>
                      </div>
                      <div class="card">
                          <div class="row g-0">
                              <div class="col-md-6 border-end">
                                  <div class="d-flex justify-content-center">
                                      <div class="main_image">
                                        <img src="/userImages/<%= item.image %>" width="500px" height="300px" class="img-fluid mt-4" alt="<%= item.image %>" > 
                                    </div>
      
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="p-3 right-side">
                                      <div class="d-flex justify-content-between align-items-center ">
                                          <h3><%= item.name %></h3> 
                                         
                                      </div>
                                      <div class="mt-1">
                                          <p style="font-size: 0.8em ; color: gray;"><%= item.category.name %></p>
                                      </div>
                                  
                                      <hr>
      
                                      <div class="mt-2 pr-3 content">
                                          <p><%= item.description %></p>
                                      </div>
                                      <hr>
                                      <span> Available : <%= item.available_items %> </span>
                                  </div>
                                  <div class="buttons d-flex flex-row  gap-3 p-3">
                                      <a href="/admin/edit-item/<%= item._id %>" type="button" class="btn btn-primary">Edit</a>
                                      <form method="POST" action="/admin/item/<%= item._id %>" style="display:inline-block;">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-outline-danger ms-1" onclick="return confirm('Are you sure you want to delete <%= item.name, item.category%>, item')"> Delete </button>
                                      </form>                               
                                  </div>
                                   <!-- Modal -->
                                   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                   aria-hidden="true">
                                   <div class="modal-dialog modal-dialog-centered">
                                       <div class="modal-content">
                                           <div class="modal-header">
                                               <h5 class="modal-title" id="exampleModalLabel">Delete Equipment</h5>
                                               <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                   aria-label="Close"></button>
                                           </div>
                                           <div class="modal-body">
      
                                               Are you sure you want to delete this equipment? 
                                                  
                                           </div>
                                           <div class="modal-footer">
                                              <button type="button" class="btn btn-success">Yes</button>
      
                                               <button type="button" class="btn btn-secondary"
                                                   data-bs-dismiss="modal">No</button>
                                           </div>
                                       </div>
                                   </div>
                               </div>
      
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
              crossorigin="anonymous"></script>
          <script src="/js/scripts.js"></script>
      </body>
      
      </html>