<!-- viewalluserbyyear.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Users</title>
  </head>
  <body>
    <h1>View Users</h1>
    <br><br><br>
    <a href="/admin/viewstudent">View All Student</a>
    <br><br><br>
    <a href="/admin/viewstaff">View All Staff</a>
    <form method="get" action="/admin/viewbyyear">
      <label for="year">Year:</label>
      <input type="number" name="year" id="year" min="1" max="4">
      <br><br>
      <input type="submit" value="View Users">
    </form>

    
    <form method="get" action="/admin/viewbydepartment">
      <label for="department">Department:</label>
      <input type="number" name="department" id="department" >
      <br><br>
      <input type="submit" value="View Users">
    </form>
    
    <% if (users.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>User_ID</th>
            <th>Email</th>
            <th>Image</th>
            <th>Mobile Number</th>
            <th>Verified</th>
            <th>Usertype</th>
            <th>Action</th>

          </tr>
        </thead>
        <% if(users.length > 0){
          for(let i=0; i<users.length; i++){ %>
              <tr>
                  <td>
                      <%= users[i].name %>
                  </td>
                  <td>
                      <%= users[i].userid %>
                  </td>
                  <td>
                      <%= users[i].email %>
                  </td>
                  <td>
                    <img src="/userImages/<%= users[i].image %>" alt="<%= users[i].image %>" width="100px"
                            height="100px"></td>
                  <td>
                      <%= users[i].mobilenumber %>
                  </td>
                  <td>
                      <% if(users[i].is_verified==0){ %>
                          <p>Not Verified</p>
                      <% } else{ %>
                              <p>Verified</p>
                      <% } %>
                  </td>
                  <td>
                    <% if(users[i].usertype=="user"){ %>
                        <p>User</p>
                    <% } else{ %>
                            <p>Approval</p>
                    <% } %>
                </td>
                  <td>
                      <a href="/admin/view-user?id=<%= users[i]._id %>">View</a>
                  </td>
              </tr>
              <% } } else{ %>
                  <tr>
                      <td colspan="5">Users Not Found</td>
                  </tr>
                  <% } %>
  </table>
      </table>
    <% } else { %>
      <p>No users found.</p>
    <% } %>

    
  </body>
</html>
