<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View Users</title>
  </head>
  <body>
    <h1>View Users</h1>
    <form action="/admin/viewstudent" method="get">
      <label for="search">Search by User ID:</label>
      <input type="text" id="search" name="search" value="<%= search || '' %>">
      
      <label for="year">Search by Year:</label>
      <input type="number" id="year" name="year" min="1" max="4" value="<%= year || '' %>">
      
      <label for="department">Search by Department:</label>
<select name="department" >
  <option value="">--Select a department--</option>
  <option value="BScIT" <% if (department === "BScIT") { %>selected<% } %>>BScIT</option>
  <option value="SIDD" <% if (department === "SIDD") { %>selected<% } %>>SIDD</option>
  <option value="Blockchain" <% if (department === "Blockchain") { %>selected<% } %>>Blockchain</option>
  <option value="Fullstack" <% if (department === "Fullstack") { %>selected<% } %>>Fullstack</option>
  <option value="SOC" <% if (department === "SOC") { %>selected<% } %>>SOC</option>
  <option value="BScCS" <% if (department === "BScCS") { %>selected<% } %>>BScCS</option>
  <option value="AI&DS" <% if (department === "AI&DS") { %>selected<% } %>>AI&DS</option>
  <option value="ICT" <% if (department === "ICT") { %>selected<% } %>>ICT</option>
</select>

      
      <button type="submit">Search</button>
    </form>
    
    <% if (users.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>User_ID</th>
            <th>Email</th>
            <th>Image</th>
            <th>Year</th>
            <th>Mobile Number</th>
            <th>Verified</th>
            <th>Usertype</th>
            <th>Action</th>

          </tr>
        </thead>
        <% if(users.length > 0){
          for(let i=0; i<users.length; i++){ %>
              <tr>
                  <td>
                      <%= users[i].name %>
                  </td>
                  <td>
                      <%= users[i].userid %>
                  </td>
                  <td>
                      <%= users[i].email %>
                  </td>
                  <td>
                    <img src="/userImages/<%= users[i].image %>" alt="<%= users[i].image %>" width="100px"
                            height="100px"></td>
                            <td>
                              <%= users[i].year %>
                          </td>
                  <td>
                      <%= users[i].mobilenumber %>
                  </td>
                  <td>
                      <% if(users[i].is_verified==0){ %>
                          <p>Not Verified</p>
                      <% } else{ %>
                              <p>Verified</p>
                      <% } %>
                  </td>
                  <td>
                    <% if(users[i].usertype=="user"){ %>
                        <p>User</p>
                    <% } else{ %>
                            <p>Approval</p>
                    <% } %>
                </td>
                  <td>
                      <a href="/admin/view-user?id=<%= users[i]._id %>">View</a>
                  </td>
              </tr>
              <% } } else{ %>
                  <tr>
                      <td colspan="5">Users Not Found</td>
                  </tr>
                  <% } %>
  </table>
      </table>
    <% } else { %>
      <p>No users found.</p>
    <% } %>
  </body>
</html> -->



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Student Table</title>
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand ">
    <!-- Navbar Brand-->
    <img src="/assets/img/logo.png" alt="" class="img-fluid" style="width: 45px;">

    <a class="navbar-brand ps-3" href="/admin/adminhome" style="color: white;">ICT-ELS</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
        class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <!-- <div class="input-group">
        <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
          aria-describedby="btnNavbarSearch" />
        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
      </div> -->
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color:white" id="navbarDropdown" href="#" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/userImages/<%= admin.image%>" style="width:40px;height: 40px; border-radius:50%;" />

        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/admin/adminprofile">Profile</a></li>
          <!-- <li><a class="dropdown-item" href="#!">Change Password</a></li> -->
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a class="dropdown-item" href="/admin/logout">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion " id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <a class="nav-link" href="/admin/adminhome">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Dashboard
            </a>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
              aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              User
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>

            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link" href="/admin/new-user">Add User</a>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth"
                  aria-expanded="false" aria-controls="pagesCollapseAuth">

                  View User
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne"
                  data-bs-parent="#sidenavAccordionPages">
                  <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="#">Student</a>
                    <a class="nav-link" href="/admin/viewstaff">Staff</a>
                  </nav>
                </div>
              </nav>
            </div>
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages"
              aria-expanded="false" aria-controls="collapsePages">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Equipment
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav ">
                <a class="nav-link collapsed" href="addequip.html">
                  Add Equipment
                </a>

                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError"
                  aria-expanded="false" aria-controls="pagesCollapseError">
                  Remove/Update Equipment
                </a>

              </nav>
            </div>

            <a class="nav-link" href="/admin/categories">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              Category
            </a>
            <a class="nav-link" href="tables.html">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              Loan
            </a>
          </div>
        </div>

      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">Student Details</h1>

          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-table me-1"></i>
              Staff Details

            </div>
            <form action="/admin/viewstudent" method="get">
              <label for="search">Search by User ID:</label>
              <input type="text" id="search" name="search" value="<%= search || '' %>">

              <label for="year">Search by Year:</label>
              <input type="number" id="year" name="year" min="1" max="4" value="<%= year || '' %>">

              <label for="department">Search by Department:</label>
              <select name="department">
                <option value="">--Select a department--</option>
                <option value="BScIT" <% if (department==="BScIT" ) { %>selected<% } %>>BScIT</option>
                <option value="SIDD" <% if (department==="SIDD" ) { %>selected<% } %>>SIDD</option>
                <option value="Blockchain" <% if (department==="Blockchain" ) { %>selected<% } %>>Blockchain</option>
                <option value="Fullstack" <% if (department==="Fullstack" ) { %>selected<% } %>>Fullstack</option>
                <option value="SOC" <% if (department==="SOC" ) { %>selected<% } %>>SOC</option>
                <option value="BScCS" <% if (department==="BScCS" ) { %>selected<% } %>>BScCS</option>
                <option value="AI&DS" <% if (department==="AI&DS" ) { %>selected<% } %>>AI&DS</option>
                <option value="ICT" <% if (department==="ICT" ) { %>selected<% } %>>ICT</option>
              </select>


              <button type="submit">Search</button>
            </form>

            <div class="card-body">
              <% if (users.length> 0) { %>

                <table id="datatablesSimple">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>User ID</th>
                      <th>Year</th>
                      <th>Department</th>
                      <th>Phone</th>

                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>User ID</th>
                      <th>Year</th>
                      <th>Department</th>
                      <th>Phone</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% if(users.length> 0){
                      for(let i=0; i<users.length; i++){ %>
                        <tr>
                          <td><a href="/admin/view-user?id=<%= users[i]._id %>"><img
                                src="/userImages/<%= users[i].image %>" alt="<%= users[i].image %>"
                                style="width:40px; height:40px; border-radius:50%;" /></a>
                            <%= users[i].name %>
                          </td>
                          <td>
                            <%= users[i].email %>
                          </td>
                          <td>
                            <%= users[i].userid %>
                          </td>
                          <td>
                            <%= users[i].year %>
                          </td>
                          <td>
                            <%= users[i].department %>
                          </td>
                          <td>
                            <%= users[i].mobilenumber %>
                          </td>
                          <% } } else{ %>
                        <tr>
                          <td colspan="5">Users Not Found</td>
                        </tr>
                        <% } %>

                          </tr>
                  </tbody>
                </table>
                <% } else { %>
                  <p>No users found.</p>
                  <% } %>
            </div>
          </div>
        </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; ICT-ELS 2023</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
  <script src="/js/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"></script>
  <script src="/js/datatables-simple-demo.js"></script>
</body>

</html>