<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>welcome to user dashboard</h1>
    <a href="/userprofile">Profile</a>
    <br><br><br>
    <a href="/logout">Logout</a>
    <br><br><br>
    <a href="/viewitem">Items</a>
    

    
</body>
</html>