<h2>Create New Loan Request</h2>

<form action="/createLoan" method="POST">
  <label for="item">Item:</label>
  <select name="item" id="item">
    <% items.forEach(function(item) { %>
      <option value="<%= item._id %>"><%= item.name %> (Available: <%= item.available_items %>)</option>
    <% }) %>
  </select>
  <br><br>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" id="quantity" min="1" max="<%= selectedItem.available_items %>">
  <br><br>

  <label for="return_date">Return Date:</label>
  <input type="date" name="return_date" id="return_date">
  <br><br>

  <input type="submit" value="Submit">
</form>
