<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<%
if(typeof message !== 'undefined'){
    %>
    <h4><%= message %></h4>
    <%
}
%>
<body>
    <h1>Send Email for Password Reset</h1>

    <form action="/forget" method="post">
        <input type="email" name="email" placeholder="Enter Email" required>
        <br><br>
        <input type="submit" value="Send Reset Link">
    </form>
</body>
</html>