<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Set Password</title>
</head>
<%
if(typeof message !== 'undefined'){
    %>
    <h4><%= message %></h4>
    <%
}
%>
<body>
    <h1>Reset Your Password</h1>

    <form action="" method="post">
        <input type="password" name="password" placeholder="Enter Password" required>
        <input type="hidden" name="user_id" value="<%= user_id %>">
        <br><br>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>