<!DOCTYPE html>
<html>
<head>
  <title>Loan Request Successful</title>
</head>
<body>
  <h1>Loan Request Successful</h1>
  <p>Your loan request for <%= quantity %> <%= selectedItem.name %> has been successfully submitted.</p>
  <p>Your return date is <%= return_date %>.</p>
</body>
</html>
