<div class="container">
  <h1>All Items</h1>
  <form method="GET">
    <div class="form-group">
      <label for="search">Search:</label>
      <input type="text" name="search" class="form-control" value="<%= searchQuery %>">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <% if (items.length > 0) { %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Available Items</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach(item => { %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.image %></td>
            <td><%= item.available_items %></td>
            <td>
              <a href="/itemDetails/<%= item._id %>">View Details</a>
            </td>
            <td>
              </td>
              </tr>
              <% }) %>
              </tbody>
              </table>
              <% } else { %>
              <p>No items found.</p>
              <% } %>
              </div>
              
