<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user profile</title>
</head>
<body>

    <img src="userImages/<%=user.image%>" alt="<%=user.image%>" width="100px" height="100px">
    <form action="" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="hidden" name="user_id" value="<%= user._id%>"  id="">
        <br><br>

        <!-- <input type="text" name="name" value="<%=user.name%>" placeholder="Enter Name" required>
        <br>
        <input type="text" name="userid" value="<%=user.userid%>" placeholder="Enter User_ID" required>
        <br>
        <input type="email" name="email" value="<%=user.email%>" placeholder="Enter Email" required>
        <br> -->
        <input type="text" name="mno" value="<%=user.mobilenumber%>" placeholder="Enter Mobilenumber" required>
        <br><br>
        <input type="submit" value="Update Profile">
    </form>
    
</body>
</html>