<div class="container">
  <h1><%= item.name %></h1>
  <img src="itemimage/<%= item.image %>"  width="100px" height="100px" alt="<%= item.image %>">
  <p><%= item.description %></p>
  <p>Available Items: <%= item.available_items %></p>

  <a href="/loan/createloan/<%= item._id %>">View Details</a>
</div>
