<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
   <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <%
if(typeof message !== 'undefined'){
    %>
    <h4><%= message %></h4>
    <%
}
%>
  <body>
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col mx-5 my-5">
                    <img src="/images/logo.jpeg" class="img-fluid" style="width:400px; align-content: center;" alt="">
                </div>
                <div class="col-sm-6 px-5 pt-5">
                    <img class="icon" class="img-fluid " src="/images/ict.svg">
                    <h2>ICT-ELS</h2>
                    <form action="/login" method="post">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="text" name="userid" placeholder="user ID" class="form-control my-3 p-2" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" name="password" placeholder="******" class="form-control my-3 p-2" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" class="btn1 mt-3 mb-3" value="Login">Login</button>
                            </div>
                        </div>
                        <a href="/forget">Forgot password?</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<% if(typeof message !=='undefined' ){ %>
    <h4>
        <%= message %>
    </h4>
    <% } %>

        <body>
            <section class="Form my-4 mx-5">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-sm-6 logo-container">
                            <img src="/images/logo.jpeg" class="img-fluid" style="max-width: 50%" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="icon" class="img-fluid" src="/images/ict.svg">
                            <h2>ICT-ELS</h2>
                            <form action="/login" method="post">
                                <div class="form-row">
                                    <div class="col-lg-7">
                                        <input type="text" name="userid" placeholder="user ID"
                                            class="form-control my-3 p-2" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-7">
                                        <input type="password" name="password" placeholder="******"
                                            class="form-control my-3 p-2" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-7">
                                        <button type="submit" class="btn1 mt-3 mb-3" value="Login">Login</button>
                                    </div>
                                </div>
                                <a href="/forget">Forgot password?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </section>


            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
                integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFD -->