<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Welcome<%= user.name %></h1>
    <table>
        <tr>
            <td><img src="userImages/<%= user.image %>" width="100px" height="100px" alt="<%= user.image %>"></td>
        </tr>
        <tr>
            <td>User_ID</td>
            <td><%= user.userid%></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= user.email%></td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td><%= user.mobilenumber%></td>
        </tr>
    </table>
    <a href="/edit?id=<%= user._id%>">Edit</a>
    <br><br>

    <a href="/logout">Logout</a>
</body>
</html>